header {
  background-color: #282c34;
  height: 150px;
  color: #ffff57;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: crimson;
}
.disposition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.disposition > li {
  margin: 20px;
}

.films {
  display: flex;
  background-color: crimson;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.resultats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1064px;
}
.affiche {
  width: 370px;
  margin: 20px;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 5px;
  background-color: #282c34;
}
p {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}
.underlined {
  text-decoration: underline;
  font-size: 25px;
  font-weight: 600;
}
.normal {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}
li {
  list-style-type: none;
}
h2 {
  color: white;
}
h4 {
  color: white;
  margin-right: 30px;
}
h2 {
  color: white;
}
.sous-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signature {
  text-align: center;
  color: #e9b601;
  background-color: #282c34;
  padding: 5px;
}
@media (max-width: 576px) {
  .disposition {
    display: flex;
    flex-direction: column;
  }
  header {
    width: 500px;
    height: 50px;
  }
  header img {
    height: 90%;
  }
  .films {
    background-color: white;
  }
  .resultats {
    padding-right: 20px;
    background-color: #e9b601;
  }
  .affiche {
    width: 85%;
  }
  .container {
    background-color: white;
  }
  .container button {
    background-color: teal;
  }
  .signature {
    width: 490px;
  }
}
